.searchPage {
    &__header {
        display: flex;
        position: sticky;
        top: 0;
        background-color: #fff;
        z-index: 100;
        align-items: flex-start;
        padding: 15px 30px 15px 30px;
        border-bottom: 1px solid lightgray;

        @include iphone {
            flex-direction: column;
            align-items: center;
            width: 100%;
            padding: 10px;
            border: none;
        }
    }

    &__logo {
        object-fit: contain;
        height: 40px;
        margin-right: 50px;
        transform: rotateY(180deg);

        @include iphone {
            margin-right: 0;
            margin-bottom: 20px;
        }
    }

    &__headerBody>.search>.search__input {
        margin-top: 0;
        // width: unset;
        max-width: unset;
        // margin: unset;

    }

    &__options {
        display: flex;
        align-items: center;
        color: gray;
        margin-top: 10px;
        overflow-y: hidden;
        overflow-x: scroll;

        &::-webkit-scrollbar {
            display: none; //將滾軸移除，但功能還在
        }

        &Left,
        &Right {
            display: flex;
        }

        &Right {
            margin-left: 80px;

            @include iphone {
                margin-left: 0;
            }
        }

        & a {
            text-decoration: none;
            color: gray;
        }
    }

    &__option {
        display: flex;
        align-items: center;
        margin-right: 20px;
        cursor: pointer;

        &>a {
            margin-left: 5px;
        }

        & .MuiSvgIcon-root {
            @include iphone {
                display: none;
            }
        }
    }

    &__results {
        max-width: 650px;
        margin-top: 20px;
        margin-left: 200px;
        margin-bottom: 100px;

        @include iphone {
           margin: 0px 5px;
        }

        &__count {
            color: #70757a;
            font-size: 14px;

            @include iphone {
                font-size: 10px;
            }
        }
    }

    &__result {
        margin: 40px 0;

        @include iphone {
            box-shadow: 0px 1px 6px #8c8a8c;
            padding: 20px;
            margin: unset;
            margin-bottom: 10px;
            border-radius: 10px;
        }

        &Title {
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }

        h2 {
            font-weight: 500;
            color: #1A0FAB;
        }

        &__images {
            object-fit: contain;
            height: 20px;
            width: 20px;
            margin-right: 10px;
        }
    }
}